@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
  font-family: 'Jersey 25', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: limegreen;
}
.container {
  margin: auto;
}
.main-header {
  text-align: center;
  margin-top: 50px;
}
ul {
  list-style: none;
}
.main-section {
  text-align: center;
}
#project-cards {
  margin-top: 400px;
}
.project-card {
  margin-top: 200px;
  display: inline;
}
/* .project-title {
} */
.project-desc {
  height: 100px;
  text-align: center;
  border: 5px;
}
.progress-meter {
  width: 15%;
  margin-top: 0px;
}
