@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

* {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: limegreen;
}
.main-header {
  text-align: center;
}
ul {
  list-style: none;
}
.main-section {
    text-align: center;
}