@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
  font-family: 'Jersey 25', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  text-align: center;
  margin: 50px auto;
  max-width: 50%;
  justify-content: center;
}
.main-section {
  margin-top: 50px;
}
